body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    height: 10000px;
    background-color: #F8FAFC;
    overflow-x: hidden;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

.header{
    display: flex;
    flex-direction: row;
    background-color: #1E293B;
    justify-content: space-between;
    height: 90px;
    width: auto;
    
}
.fixmate-logo{
    padding: 10px;
    padding-left: 20px;
}
.nav-menu{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-item{
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #F8FAFC;
    font-family: Poppins;
    font-weight: 400px;
}

.nav-item:hover{
    color: #000000;
}
.header-btns{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    margin-right: 10px;
}
.btn{
    border-radius: 10px;
    background-color: #F8FAFC;
    padding: 8px 20px;
    border: none;
    font-family: Poppins;
    font-weight: 700;
    color: #1E293B;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 2px 2px black;
    transition: all 0.3s ease;
    height: 39px;
    
}
.btn:hover{
    transform: translateY(-1px);
    background-color: #1E293B;
    color: #F8FAFC;
}


.hero{
    background-image: url(/images/hero-background.jpg);
    background-size: cover;
    height: 690px;
    z-index: 1;
    position: relative;
}
.hero-background{
   
    height: 690px;
    width: 1440px;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 690px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.hero-main{
    top: 200px;
    left: 50px;
    z-index: 3;
    position: relative;
}
.hero-title{
    color: #F8FAFC;
}
.hero-btns{
    display: flex;
    z-index: 3;
    position: relative;
    top: 410px;
    left: 50px;
    gap: 20px;
}


.journey-section{
    display: flex;
    flex-direction: row;
    background-color: #F5F7FA;
    padding: 100px 43px;
    gap: 70px;
}
.journey-content{
    display: flex;
    flex-direction: column;
    background-color: #495867;
    border-radius: 10px;
    width: 600px;
    height: 540px;
    padding: 30px;
    position: relative;
}
.journey-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #F8FAFC;
}
.journey-description{
    font-size: 18px;
    color: #F8FAFC;
}
.journey-learn{
    width: fit-content;
}
.journey-image{
    display: flex;
    width: 300px;
    height: 600px;
}




.services{
    height: 740px;
    padding: 26px 30px;
    
}
.service-title{
    font-size: 40px;
    font-family: Poppins;
    line-height: 70px;
    margin-bottom: 20px;

}
.repair{
    color: #1E293B;
}
.service-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.service-card{
    width: 370px;
    height: 440px;
    border-radius: 10px;
    padding: 0px 20px ;
    position: relative;
    background-color: #F97316;
}
.service-card img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
}

.service-subtitle{
    font-size: 14px;
    line-height: 14px;
}
.feature-method{
    font-size: 14px;
    line-height: 12px;
}
.fixprotect{
    background-color: #10B981;
}
.fixtips{
    background-color: #1E293B;
}
.fixtips{
    color: #F8FAFC;
}

.slider{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}



.testimonial{
    background-color: #1C3D5A;
}
.testimonial-title{
    display: flex;
    justify-content: center;
    color: #F8FAFC;
    padding: 10px;
}
.testimonial-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    padding-bottom: 20px;
}
.testimonial-track{
    display: flex;
    width: 200%;
    height: 100%;
    animation: slide 12s infinite linear;
}
.testimonial-card{
    flex: 0 0 25%;
    padding: 30px;
    margin: 0 15px;
    background-color: #1C3D5A;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F8FAFC;

}

@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(0); }
    37.5% { transform: translateX(-25%); }
    62.5% { transform: translateX(-25%); }
    75% { transform: translateX(-50%); }
    100% { transform: translateX(-50%); }
}
.testimonial-track:hover{
    animation-play-state: paused;
}





.values{
    padding: 60px 20px;
    background-color: #1E293B;
    text-align: center;
    max-width: 1440px;
    margin: auto;
}
.values-title{
    font-family: Poppins;
    font-size: 2.5rem;
    color: #F8FAFC;
    margin-bottom: 50px;
    letter-spacing: 2px;
    margin-top: 0;
    
}
.value-elements{
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 20px 10px 20px 110px;
    scrollbar-width: none;
    

}
.value-elements::-webkit-scrollbar{
    display: none;
}
.value{
    flex: 0 0 300px;
    scroll-snap-align: center;
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 250px;
    background-color: #6B7280;

}
.value:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}
.value img{
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
    filter: drop-shadow(0 2px 80x rgba(50, 160, 92, 0.3));
}
.value h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #F8FAFC;
    letter-spacing: 1px;
    margin: 0;
}



.team{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    
}
.team-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    margin-top: 20px;
    
}
.team-title h1{
    padding: 0;
    margin: 0;
    color: #1E293B;
}
.members-container{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.members{
    margin: 0 50px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding: 30px;
    max-width: 900px;
    width: 100%;

}
.member{
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: 190px;
    background-color: #1E293B;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease ;
    color: #F8FAFC;
    
}
.member:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}
.member-pic{
    width: 130px;
    height: 130px;
   
    justify-content: center;
    border-radius: 10%;
    object-fit: cover;
}
.member h5{
    margin-bottom: 0;
}